*{
    padding: 0;
    margin: 0;
}
#GameBody{
    width: 500px;
    height: 500px;
    border: 1px solid rgb(0, 0, 0);
    margin: auto;
    overflow: hidden;
}
#block{
    width: 50px;
    height: 500px;
    background-color: rgb(23, 21, 53);
    position: relative;
    left: 400px;
    animation: block 2s infinite linear;
}
@keyframes block{
    0%{left:400px}
    100%{left:-50px}
}
#EscapeHole{
    width: 50px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 400px;
    top: -500px;
    animation: block 2s infinite linear;
}
#Bird{
    width: 20px;
    height: 20px;
    background-color: rgb(61, 97, 131);
    position: absolute;
    top: 100px;
    border-radius: 50%;
}